<%include header.ejs%>
<%include navigator.ejs%>
  <div class="container">
        <div>
          <h1 style="color:steelblue;font-family:calibri;text-align: center"><p style="text-align: center;margin-top:8%;margin-bottom:2%"><strong>My Profile</strong></p></h1>
        </div>
        <form action="changeProfile" method="get"> 
        <div class="row" style="margin-bottom:2%">    
          <div class="col-lg-2 col-lg-offset-4">
            <!--<label for="inputEmail" class="sr-only">Email address</label>-->
            <input style="margin-bottom:2%" type="text" name="firstName" class="form-control" placeholder="First Name" value="<%=firstName%>" required autofocus> 
          </div>
            <div class="col-lg-2">
            <!--<label for="inputEmail" class="sr-only">Email address</label>-->
            <input style="margin-bottom:2%"type="text" class="form-control" placeholder="Last Name" name="lastName" value="<%=lastName%>"required autofocus> 
          </div>
        </div>
        <div class="row" style="margin-bottom:2%">
          <div class="col-lg-4 col-lg-offset-4"> 
            <input style="margin-bottom:2%" type="text" id="title" class="form-control" placeholder="Title (eg. Mr. Mrs.)" name="suffix" value="<%=suffix%>" required autofocus> 
          </div>
        </div>
        <div class="row" style="margin-bottom:2%">
          <div class="col-lg-4 col-lg-offset-4"> 
            <input style="margin-bottom:2%" type="text" id="email" class="form-control" placeholder="Email" name="userId" value="<%=userName%>" required autofocus readonly> 
          </div>
        </div>
        
        <div class="row" style="margin-bottom:2%">
          <div class="col-lg-4 col-lg-offset-4"> 
            <input style="margin-bottom:2%;height:200px" type="text" id="name" class="form-control" placeholder="Self introduction" name="description" value="<%=description%>" required autofocus> 
          </div>
        </div>
        <div class="col-lg-4 col-lg-offset-4">      
          <button class="btn btn-lg btn-primary btn-block" style="align:center"type="submit">Submit</button>
        </div>
      </form>
  </div>
<%include end.ejs%>